<%= turbo_frame_tag "cart" do %>
  <div class="cart-header">
    <% if @cart.cart_items.present? && @cart.cart_items.count > 0 %>
      <%= render "cart/cart_items" %>
      <p class="cart-total">Total: <%= @cart.total %></p>
    <% else %>
      <p>Your cart is empty</p>
    <% end %>
  </div>
      <% end %>