<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h1 class="display-4 mb-4">Checkout!</h1>
        <%= render partial: 'pay/stripe/checkout_button', locals: {
            session: @checkout_session,
            title: "Proceed to Stripe Checkout"
        } %>
    </div>
  </div>
</div>